html, body {
    background: #7075ff;
    background: linear-gradient(10deg, rgba(112, 117, 255, 1) 0%, rgba(158, 181, 255, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
div.jimmy-box {
    border: solid red 4px;
    background-color: darkred;
}
.center {
    text-align: center;
}
.img-small {
    width: 500px;
    height: 700px;
}